<% title "Comment" %>

<p>
  <strong>Commentable Type:</strong>
  <%= @comment.commentable_type %>
</p>
<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <%= link_to "Edit", edit_company_comment_path(current_company, @comment) %> |
  <%= link_to "Destroy", [current_company, @comment], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_comments_path %>
</p>
