<% title "User" %>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Full Address:</strong><br />
  <%= @user.full_address.html_safe %>
</p>

<p>
	<strong>Assigned to:</strong><br />
	<% @user.companies.each do |company| %>
		<%= link_to company.name, company_dashboard_path(company)%>
	<% end %>
</p>

<p>
  <%= link_to "Edit", edit_company_user_path(current_company, @user) %> |
  <%= link_to "Destroy", [current_company, @user], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_users_path %>
</p>
