<%= form_for [current_company, @customer] do |f| %>
  <%= f.error_messages %>
  <p>
  	<% if current_user.is? :admin %>
	  <strong>Assigned Company is</strong> - <%= f.collection_select(:company_id, Company.all, :id, :name, :prompt => "Select Main Company") %>
	<% else %>
	  <%= f.hidden_field :company_id %>
	<% end %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :street1 %><br />
    <%= f.text_field :street1 %>
  </p>
  <p>
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    Customer Height<br />
    <%= f.text_field :c_height %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </p>
  <p><%= f.submit %></p>
<% end %>
