<% title "New Customer" %>

<%= form_for [current_company, @customer] do |f| %>
  <%= f.error_messages %>
  <p>
  	<% if current_user.is? :admin %>
	  <strong>Assigned Company:</strong> - <%= f.collection_select(:company_id, Company.all, :id, :name, :prompt => "Select Main Company") %>
	<% else %>
	  <%= f.hidden_field :company_id %>
	<% end %>
  </p>

<table>
	<tr>
		<td>
			<p>
			    <%= f.label :firstname %><br />
			    <%= f.text_field :firstname %>
			</p>
		</td>
		<td>
		  	<p>
			    <%= f.label :lastname %><br />
			    <%= f.text_field :lastname %>
			 </p>	
		</td>
	</tr>
	<tr>
		<td>
			<p>
			    <%= f.label :dob %><br />
			    <%= f.text_field :dob, :class => "date-picker" %>
		    </p>
		</td>
		<td>
			<p>
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
		    </p>	
		</td>
	</tr>
	<tr>
		<td>
		  	<p>
			    <%= f.label :street1 %><br />
			    <%= f.text_field :street1 %>
			</p>
		</td>
		<td>
		  <p>
		    <%= f.label :street2 %><br />
		    <%= f.text_field :street2 %>
		  </p>
		</td>
	</tr>
	<tr>
		<td>
		  	<p>
			    <%= f.label :city %><br />
			    <%= f.text_field :city %>
			 </p>	
		</td>
		<td>
		  	<p>
			    <%= f.label :state %><br />
			    <%= f.select(:state, [
					['Alabama', 'AL'], 
					['Alaska', 'AK'],
					['Arizona', 'AZ'],
					['Arkansas', 'AR'], 
					['California', 'CA'], 
					['Colorado', 'CO'], 
					['Connecticut', 'CT'], 
					['Delaware', 'DE'], 
					['District Of Columbia', 'DC'], 
					['Florida', 'FL'],
					['Georgia', 'GA'],
					['Hawaii', 'HI'], 
					['Idaho', 'ID'], 
					['Illinois', 'IL'], 
					['Indiana', 'IN'], 
					['Iowa', 'IA'], 
					['Kansas', 'KS'], 
					['Kentucky', 'KY'], 
					['Louisiana', 'LA'], 
					['Maine', 'ME'], 
					['Maryland', 'MD'], 
					['Massachusetts', 'MA'], 
					['Michigan', 'MI'], 
					['Minnesota', 'MN'],
					['Mississippi', 'MS'], 
					['Missouri', 'MO'], 
					['Montana', 'MT'], 
					['Nebraska', 'NE'], 
					['Nevada', 'NV'], 
					['New Hampshire', 'NH'], 
					['New Jersey', 'NJ'], 
					['New Mexico', 'NM'], 
					['New York', 'NY'], 
					['North Carolina', 'NC'], 
					['North Dakota', 'ND'], 
					['Ohio', 'OH'], 
					['Oklahoma', 'OK'], 
					['Oregon', 'OR'], 
					['Pennsylvania', 'PA'], 
					['Rhode Island', 'RI'], 
					['South Carolina', 'SC'], 
					['South Dakota', 'SD'], 
					['Tennessee', 'TN'], 
					['Texas', 'TX'], 
					['Utah', 'UT'], 
					['Vermont', 'VT'], 
					['Virginia', 'VA'], 
					['Washington', 'WA'], 
					['West Virginia', 'WV'], 
					['Wisconsin', 'WI'], 
					['Wyoming', 'WY']], {:prompt => 'Select State'}) %>
			</p>
		</td>
		<td>
		  	<p>
			    <%= f.label :zipcode %><br />
			    <%= f.text_field :zipcode %>
			</p>
		</td>
	</tr>
	<tr>
		
		<td>
		  	<p>
			    Customer Height<br />
			    <%= f.text_field :c_height %>
			</p>	
		</td>
		<td>
		  	<p>
			    <%= f.label :gender %><br />
			    <%= f.select(:gender, [
					['Male', 'Male'], 
					['Female', 'Female']], {:prompt => 'Select Gender'}) %>
			</p>
		</td>
		<td>
		  	<p>
			    <%= f.label :race %><br />
			    <%= f.text_field :race %>
			  </p>
		</td>
	</tr>
</table>

  	<%= f.fields_for :title_loans do |builder| %>
	<%= builder.hidden_field :customer_id, :value => @customer %>
	<%= builder.hidden_field :company_id, :value => current_company.id %>
	<%= builder.hidden_field :user_id, :value => current_user.id %>

<table>
	<tr>
		<td>
			<p>
			    <%= builder.label :vin %><br />
			    <%= builder.text_field :vin %>
		    </p>
		</td>
		<td>
			<p>
			    <%= builder.label :make %><br />
			    <%= builder.text_field :make %>
			</p>
		</td>
		<td>
		  	<p>
			    Model<br />
			    <%= builder.text_field :vin_model %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
			    <%= builder.label :style %><br />
			    <%= builder.text_field :style %>
			</p>
		</td>
		<td>
		 	<p>
			    <%= builder.label :color %><br />
			    <%= builder.text_field :color %>
			</p>
		</td>
		<td>
			<p>
			    Year:<br />
			    <%= builder.select :year, options_for_select(((Time.now.year-40..Time.now.year+2).collect {|a| [ a.to_i, a.to_s]})) %>
			 </p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				Started at:<br />
				<%= builder.text_field :formated_created_at, :class => 'created-at-datetime', :value => Time.now.strftime('%b %d %Y %H:%M') %>
			</p>
		</td>
		<td>
			<p>
			    Tag #<br />
			    <%= builder.text_field :tag_number %>
			  </p>	
		</td>
		<td>
			<p>
			    Milage #<br />
			    <%= builder.text_field :milage %>
			  </p>	
		</td>
	</tr>
	<tr>
		<td>
			<p>
			    <%= builder.label :loan_amount %><br />
			    <%= builder.text_field :loan_amount %>
			</p>
		</td>
		<td>
			<p>
			    <%= builder.label :payments_made %><br />
			    <%= builder.text_field :payments_made %>
		    </p>
		</td>
		<td>
			<p>
			    <%= builder.hidden_field :previous_balance %>
			</p>
		</td>
	</tr>
</table>
	<% end %>
  <p><%= f.submit :class => "smallbtn green" %></p>
<% end %>


<p><%= link_to "Back to List", company_customers_path %></p>
