<%= form_for @search, :url => company_orders_path(current_company), :html => {:method => :get} do |f| %>
    Customer Name:<br \>
    <%= f.text_field :customer_firstname_or_customer_lastname_contains %><br />
	Order # is:<br \>
    <%= f.text_field :id_in %><br />
    <!-- etc... -->
    <%= f.submit %>
  <% end %>
<p><%= will_paginate @orders %></p>
<table>
  <tr>
    <th>Company</th>
    <th>Customer</th>
    <th>Title Loan</th>
    <th>Amount Paid</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.company_id %></td>
      <td><%= order.customer_id %></td>
      <td><%= order.title_loan_id %></td>
      <td><%= order.amount_paid %></td>
      <td><%= link_to "Show", [current_company, order] %></td>
      <td><%= link_to "Edit", edit_company_order_path(current_company, order) %></td>
      <td><%= link_to "Destroy", [current_company, order], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<p><%= will_paginate @orders %></p>
