<% title "Company" %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>
<p>
  <strong>Street1:</strong>
  <%= @company.street1 %>
</p>
<p>
  <strong>Street2:</strong>
  <%= @company.street2 %>
</p>
<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>
<p>
  <strong>Zipcode:</strong>
  <%= @company.zipcode %>
</p>
<p>
  <strong>Full Address:</strong><br />
  <%= @company.full_address.html_safe %>
</p>

<p>
  <%= link_to "Edit", edit_company_path(@company) %> |
  <%= link_to "Destroy", @company, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", companies_path %>
</p>
