<%= form_for [current_company, @title_loan] do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :parent_id %>
  <p>
  	<%= f.label :customer_id %><br />
	<%= f.collection_select :customer_id, Customer.all(:order => 'lastname, firstname'), :id, :full_name, :prompt => "Select Someone" %>
  </p>
<% if @title_loan.parent_id.blank? %>
  <p>
    <%= f.label :vin %><br />
    <%= f.text_field :vin %>
  </p>
  <p>
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :tag_number %><br />
    <%= f.text_field :tag_number %>
  </p>
  <p>
    Model<br />
    <%= f.text_field :vin_model %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    Year:<br />
    <%= select_tag "title_loan[year]", options_for_select(((Time.now.year-40..Time.now.year+2).collect {|a| [ a.to_i, a.to_s]})) %>
  </p>
<% end %>
<% if !@title_loan.parent_id.blank? %>
	<p>
	    <%= f.label :previous_balance %><br />
	    <%= f.text_field :previous_balance %>
	  </p>
<% end %>
  <p>
    <%= f.label :loan_amount %><br />
    <%= f.text_field :loan_amount %>
  </p>
  <p>
    <%= f.label :payments_made %><br />
    <%= f.text_field :payments_made %>
  </p>
  <p>
    <%= f.label :base_amount %><br />
    <%= f.text_field :base_amount %>
  </p>
<p>
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
