<%= content_for :head do %>
<%= stylesheet_link_tag "jquery-ui", "uploadify" %>
<%= javascript_include_tag 'jquery.uploadify', 'swfobject' %>
<% end %>
<% session_key_name = Rails.application.config.session_options[:key] %>


<%= form_for [current_company, @title_loan], :multipart => true,  do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :parent_id %>
  <p>
  	<%= f.label :customer_id %><br />
	<%= f.collection_select :customer_id, Customer.all(:order => 'lastname, firstname'), :id, :full_name, :prompt => "Select Someone" %>
  </p>
<% if @title_loan.parent_id.blank? %>
  <p>
    <%= f.label :vin %><br />
    <%= f.text_field :vin %>
  </p>
  <p>
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :tag_number %><br />
    <%= f.text_field :tag_number %>
  </p>
  <p>
    Model<br />
    <%= f.text_field :vin_model %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    Year:<br />
    <%= select_tag "title_loan[year]", options_for_select(((Time.now.year-40..Time.now.year+2).collect {|a| [ a.to_i, a.to_s]})) %>
  </p>
<% end %>
<% if !@title_loan.parent_id.blank? %>
	<p>
	    <%= f.label :previous_balance %><br />
	    <%= f.text_field :previous_balance %>
	  </p>
<% end %>
  <p>
    <%= f.label :loan_amount %><br />
    <%= f.text_field :loan_amount %>
  </p>
  <p>
    <%= f.label :payments_made %><br />
    <%= f.text_field :payments_made %>
  </p>
  <p>
    <%= f.label :base_amount %><br />
    <%= f.text_field :base_amount %>
  </p>
<% unless @title_loan.new_record? %>
<p>
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date, :class => "date-picker" %>
  </p>
<% end %>
<div id="photos">
<% if !@title_loan.photos.blank? %>
  <% for photo in @title_loan.photos %>
    <%= render :partial => 'photos/photo', :locals => {:photo => photo }%>
  <% end %>
<% end %>

<% unless @title_loan.new_record? %>
	<%= fields_for Photo.new do |f| %><br />
	<%= f.file_field :image, :rel => company_title_loan_photos_path(current_company, @title_loan)%>
<% end %>
<% end %>
</div>
<p><%= f.submit %></p>
<% end %>



<%= content_for :scripts do %>
<script>
  //<![CDATA[
    var upload_params = {
      '<%= "#{session_key_name}" %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
      'authenticity_token' : encodeURIComponent('<%= u form_authenticity_token %>'),
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'uploader'     : '/assets/uploadify.swf',
      'script'       : url,
      'fileDataName' : 'photo[image]',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'cancelImg'    : '/images/cancel.png',
      'multi'        : true,
      'scriptData'   : upload_params,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
        $('#photos').append(response);
      }
    });
  //]]>
</script>
<% end %>
