<%= content_for :head do %>
	<%= javascript_include_tag 'jquery.mousewheel', 'jquery.fancybox', 'jquery.uploadify', 'swfobject' %>
	<%= stylesheet_link_tag "jquery-ui", "uploadify" %>
<% end %>
<% session_key_name = Rails.application.config.session_options[:key] %>

<% title "Title Loan" %>


<table width="100%">
<tr>
	<th width="33%">Base Info:</th>
	<th width="33%">Car Info:</th>
	<th width="33%">Payment Info:</th>
</tr>
<tr valign="TOP">
	<td>
		<strong>Created on:</strong> <%= @title_loan.created_at.strftime('%b %d, %Y') %><br /><br />
		<strong>Due Date:</strong> <%= @title_loan.due_date.strftime('%b %d, %Y') %><br /><br />
		<strong>Customer:</strong>
		  <%= link_to @title_loan.customer.full_name, [current_company, @title_loan.customer] unless @title_loan.customer_id.blank?  %><br /><br />
		<strong>Current Percentage</strong> <%= number_to_percentage((@title_loan.get_percentage(@title_loan.payments_made) * 100), :precision => 0)%>
		
	</td>
	<td>
		<strong>Vin:</strong> <%= @title_loan.vin  %><br /><br />
		<strong>Tag:</strong> <%= @title_loan.tag_number %><br /><br />
		<strong>Make:</strong> <%= @title_loan.make %><br /><br />
		<strong>Model:</strong> <%= @title_loan.vin_model %><br /><br />
		<strong>Style:</strong> <%= @title_loan.style %><br /><br />
		<strong>Color:</strong> <%= @title_loan.color %><br /><br />
		<strong>Year:</strong> <%= @title_loan.year %><br /><br />
		<strong>Milage:</strong> <%= @title_loan.milage %><br /><br />
	</td>
	<td>
		<strong>Loan Balance:</strong> <%= number_to_currency(@title_loan.loan_amount) %><br /><br />
		<strong>Payments Made:</strong> <%= @title_loan.payments_made %><br /><br />
		<strong>Initial Total Loan:</strong> <%= number_to_currency(@title_loan.base_amount) %><br /><br />
		<strong>15% Payments: </strong> <%= number_to_currency(@title_loan.estimate_payments(0)) %><br /><br />
		<strong>10% Payments: </strong> <%= number_to_currency(@title_loan.estimate_payments(4)) %><br /><br />
		<strong>Est. Late Fee at 15%:</strong> <%= number_to_currency(@title_loan.estimate_late_payment_fee(0.15))%> / per day<br /><br />
		<strong>Est. Late Fee at 10%:</strong> <%= number_to_currency(@title_loan.estimate_late_payment_fee(0.10))%> / per day<br /><br />
	</td>
</tr>
</table>


<p>
	TEST:<br />
	<%= @title_loan.estimate_payments(9) %>
</p>

<div id="photos">
<% if !@title_loan.photos.blank? %>
  <% for photo in @title_loan.photos %>
    <%= render :partial => 'photos/photo', :locals => {:photo => photo }%>
  <% end %>
<% end %>

</div>

<div id="photo-btn">
<%= fields_for Photo.new do |f| %><br />
<%= f.file_field :image, :rel => company_title_loan_photos_path(current_company, @title_loan)%>
<% end %>
</div>
<p>
  <%= link_to "Edit", edit_company_title_loan_path(current_company, @title_loan) %> |
  <%= link_to "Destroy", [current_company, @title_loan], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_title_loans_path %> | 
  <%= link_to "Invoice", new_company_order_path(current_company, :title_loan_id => @title_loan.id, :customer_id => @title_loan.customer_id) %> | 
  <%= link_to "Give Money", new_company_title_loan_path(current_company, :parent_id => @title_loan.id, :customer_id => @title_loan.customer_id)%>| 
  <%= link_to "Agreement", company_pawn_agreement_path(current_company, @title_loan)%>
</p>



<%= content_for :scripts do %>

<script>
	$("a[rel=photo_group]").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic'
		});
  //<![CDATA[
    var upload_params = {
      '<%= "#{session_key_name}" %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
      'authenticity_token' : encodeURIComponent('<%= u form_authenticity_token %>'),
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'uploader'     : '/assets/uploadify.swf',
      'script'       : url,
      'fileDataName' : 'photo[image]',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'cancelImg'    : '/images/cancel.png',
      'multi'        : true,
      'scriptData'   : upload_params,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
        $('#photos').append(response);
      }
    });
  //]]>
</script>
<% end %>


