<%= content_for :head do %>
	<%= javascript_include_tag 'jquery.mousewheel', 'jquery.fancybox', 'jquery.uploadify', 'swfobject' %>
	<%= stylesheet_link_tag "jquery-ui", "uploadify" %>
<% end %>

<% title "Title Loan" %>
<% session_key_name = Rails.application.config.session_options[:key] %>
<p>
  <strong>Customer:</strong>
  <%= @title_loan.customer.full_name unless @title_loan.customer_id.blank?  %>
</p>
<p>
  <strong>Vin:</strong>
  <%= @title_loan.vin  %>
</p>
<p>
  <strong>Tag:</strong>
  <%= @title_loan.tag_number %>
</p>
<p>
  <strong>Vin:</strong>
  <%= @title_loan.vin %>
</p>
<p>
  <strong>Make:</strong>
  <%= @title_loan.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @title_loan.vin_model %>
</p>
<p>
  <strong>Style:</strong>
  <%= @title_loan.style %>
</p>
<p>
  <strong>Color:</strong>
  <%= @title_loan.color %>
</p>
<p>
  <strong>Year:</strong>
  <%= @title_loan.year %>
</p>
<p>
  <strong>Loan Amount:</strong>
  <%= number_to_currency(@title_loan.loan_amount) %>
</p>
<p>
  <strong>Payments Made:</strong>
  <%= @title_loan.payments_made %>
</p>
<p>
  <strong>Due Date:</strong>
  <%= @title_loan.due_date %>
</p>

<p>
	TEST:<br />
	<%= @title_loan.estimate_payments(1) %>
</p>

<div id="photos">
<% if !@title_loan.photos.blank? %>
  <% for photo in @title_loan.photos %>
    <%= render :partial => 'photos/photo', :locals => {:photo => photo }%>
  <% end %>
<% end %>

</div>

<div id="photo-btn">
<%= fields_for Photo.new do |f| %><br />
<%= f.file_field :image, :rel => company_title_loan_photos_path(current_company, @title_loan)%>
<% end %>
</div>
<p>
  <%= link_to "Edit", edit_company_title_loan_path(current_company, @title_loan) %> |
  <%= link_to "Destroy", [current_company, @title_loan], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_title_loans_path %> | 
  <%= link_to "Invoice", new_company_order_path(current_company, :title_loan_id => @title_loan.id, :customer_id => @title_loan.customer_id) %> | 
  <%= link_to "Give Money", new_company_title_loan_path(current_company, :parent_id => @title_loan.id, :customer_id => @title_loan.customer_id)%>
</p>



<%= content_for :scripts do %>

<script>
	$("a[rel=photo_group]").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic'
		});
  //<![CDATA[
    var upload_params = {
      '<%= "#{session_key_name}" %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
      'authenticity_token' : encodeURIComponent('<%= u form_authenticity_token %>'),
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'uploader'     : '/assets/uploadify.swf',
      'script'       : url,
      'fileDataName' : 'photo[image]',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'cancelImg'    : '/images/cancel.png',
      'multi'        : true,
      'scriptData'   : upload_params,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
        $('#photos').append(response);
      }
    });
  //]]>
</script>
<% end %>


